{% extends "layout.twig" %}

{% block title %}{{ pullRequests|length }} pull requests pending | Lemur{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-md-offset-11">
        <p class="text-right">
          <a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout</a>
        </p>
      </div>
    </div>
    <div class="row" id="pull-requests-wrapper">
      <div class="col-md-12" id="pull-requests">
        {% if pullRequests|length > 0 %}
          <h2>{{ pullRequests|length }} Pull requests pending merge</h2>
          <ul class="list-group">
            {% for pullRequest in pullRequests %}
              <li class="list-group-item">
                <div class="clearfix">
                  <h4 class="list-group-item-heading pull-left">
                    {% if pullRequest.vcs == 'github' %}
                      <span class="fa fa-github" aria-hidden="true"></span>&nbsp;
                    {% endif %}
                    {% if pullRequest.vcs == 'gitlab' %}
                      <span class="fa fa-git" aria-hidden="true"></span>&nbsp;
                    {% endif %}
                    <a href="{{ pullRequest.htmlUrl }}">{{ pullRequest.name }}</a>
                  </h4>
                  {% if pullRequest.vcs == 'github' %}
                    <div class="pull-right">
                      <span class="badge">
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        &nbsp;{{ pullRequest.numberComments }}
                      </span>
                      <span class="badge alert-success">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                        &nbsp;{{ pullRequest.numberApprovals }}
                      </span>
                      <span class="badge alert-danger">
                        <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                        &nbsp;{{ pullRequest.numberDisapprovals }}
                      </span>
                    </div>
                  {% endif %}
                </div>
                <p><em>Created by {{ pullRequest.createdBy }} <time class="timeago" datetime="{{ pullRequest.createdAt }}">{{ pullRequest.createdAt }}</time></em></p>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <h2>Pull requests pending merge</h2>
          <p>No pull requests pending for merge</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery("time.timeago").timeago();
      });
      setInterval(function () {
        $('#pull-requests-wrapper').load(
          document.URL +  ' #pull-requests',
          function() {jQuery("time.timeago").timeago()}
      )}, {{ refreshTime }});
    </script>
{% endblock %}
