<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="refresh" content="10">
    <title>{{ pullRequests|length }} pull requests pending | Lemur</title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="icon" type="image/png" href="images/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.1/jquery.timeago.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Statistics</h3>
          <dl class="dl-horizontal">
            <dt>Pull request mean time</dt>
            <dd>02:52</dd>
          </dl>
        </div>
        <div class="col-md-9">
          {% if pullRequests|length > 0 %}
            <h2>{{ pullRequests|length }} Pull requests pending merge</h2>
            <ul class="list-group">
              {% for pullRequest in pullRequests %}
                <li class="list-group-item">
                  <div class="clearfix">
                    <h4 class="list-group-item-heading pull-left">
                      {% if pullRequest.vcs == 'github' %}
                        <span class="fa fa-github" aria-hidden="true"></span>&nbsp;
                      {% endif %}
                      <a href="{{ pullRequest.getHtmlUrl }}">{{ pullRequest.getName }}</a>
                    </h4>
                    {% if pullRequest.vcs == 'github' %}
                      <div class="pull-right">
                        <span class="badge">
                          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                          &nbsp;{{ pullRequest.getNumberComments }}
                        </span>
                        <span class="badge alert-success">
                          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                          &nbsp;{{ pullRequest.getNumberApprovals }}
                        </span>
                        <span class="badge alert-danger">
                          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                          &nbsp;{{ pullRequest.getNumberDisapprovals }}
                        </span>
                      </div>
                    {% endif %}
                  </div>
                  <p><em>Created by {{ pullRequest.getCreatedBy }} <time class="timeago" datetime="{{ pullRequest.getCreatedAt }}">{{ pullRequest.getCreatedAt }}</time></em></p>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <h2>No pull requests pending for merge</h2>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      jQuery("time.timeago").timeago();
    });
  </script>
</html>